AlgBellmanaForda/cmake-build-debug/
AlgBellmanaForda/.idea/
AlgFordaFulkersona/cmake-build-debug/
AlgFordaFulkersona/.idea/
L3_Wielowatkowosc/cmake-build-debug/
L3_Wielowatkowosc/.idea/
L4_Sortowanie/cmake-build-debug/
L4_Sortowanie/.idea/
L5_Kodowanie/cmake-build-debug/
L5_Kodowanie/.idea/
